@import "tailwindcss";
/* @import "tw-animate-css"; */

@theme {
  --color-background: #10141a;
  --color-background-2: #151b24;
  --color-surface: #1c232e;
  --color-accent: #8875e0; /* 61AFEF */
  --color-destructive: #e07575;
  --color-text: #e1e6f0;
  --color-text2: #969eb0;
  --color-text3: #666e7d;
  --width-content-width: 90ch;
  --font-grotesk: "Hanken Grotesk", "sans-serif";
  --font-rubik: "Rubik", "sans-serif";
  --font-noto: "Noto Sans", "sans-serif";
  --radius-radius: 10px;
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  *:focus {
    outline: none;
  }

  * {
    @apply overscroll-none;
  }

  html {
    @apply h-screen w-screen p-0 m-0 text-text bg-background font-semibold;
  }

  body {
    @apply p-0 m-0 w-full h-full;
  }

  main {
    @apply max-w-4xl w-full mx-auto px-14 pt-20 pb-40;
  }

  section {
    @apply flex flex-col gap-5 md:gap-8;
  }

  b, strong {
    @apply font-bold
  }

  h1,
  h2,
  h3 {
    @apply font-bold transition-all ease-linear duration-300;
  }

  h1 {
    @apply my-5 text-3xl md:text-4xl;
  }

  h2 {
    @apply my-3 text-2xl md:text-3xl;
  }

  h3 {
    @apply my-2 text-lg md:text-2xl;
  }

  hr {
    @apply h-[2px] rounded-radius my-4 bg-text3 opacity-25 border-0;
  }

  p,
  li {
    @apply text-text2 font-medium text-base md:text-lg;
  }

  li {
    @apply text-text3 pl-2;
  }

  label {
    @apply my-2 block md:text-lg;
  }

  input,
  textarea {
    @apply w-full outline-none bg-transparent ring-2 ring-surface rounded-radius px-3 py-2;
  }

  textarea {
    @apply h-32;
  }

  button {
    @apply ring-accent ring-2 text-xl px-8 py-1 rounded-radius my-5 text-text
      hover:rounded-sm hover:bg-accent hover:text-background;
  }

  button,
  a {
    @apply transition-all ease-linear duration-100;
  }
}

@layer components {
  .card {
    @apply w-fit bg-background-2 rounded-radius shadow-2xl px-4 py-2 backdrop-blur-sm;
  }

  .card-bg {
    --background: linear-gradient(to left, var(--color-accent) 0%, var(--color-blue-500) 100%);
    padding: 5px;
    border-radius: var(--radius-radius);
    overflow: visible;
    background: var(--background);
    position: relative;
    z-index: 1;
  }
  .card-bg::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(.95);
    filter: blur(25px);
    background: var(--background);
    transition: opacity .5s;
  }

  .card-bg:hover::after {
    opacity: 0;
  }

}


@layer utilities {
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 9999px;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out alternate;
  }

  @keyframes twinkle {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}
